<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Pipeline Configuration-->
    <!--
    0: Line-based alerting
    2: TensorFlow FastRCNN on every frame
    4: BGS early filtering -> TensorFlow Fast R-CNN -> Database (ArangoDB and blob storage on Azure)
    5: BGS early filtering -> TensorFlow Fast R-CNN -> Azure Machine Learning (cloud)
    -->
    <add key="PplConfig" value="5" />
    
    <!--Azure Storage Connection-->
    <add key="StorageConnectionString" value="" />
    
    <!--Azure DB Connection-->
    <add key="DBSERVER" value="" />
    <add key="DBCRED" value="" />
    <add key="DBNAME" value="" />

    <!--Azure Machine Learning Service Connection-->
    <add key="AMLHost" value="" />
    <add key="AMLSSL" value="" />
    <add key="AMLAuthKey" value="" />
    <add key="AMLServiceID" value="" />
  </appSettings>
</configuration>