<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Pipeline Configuration-->
    <!--
    0: Line-based counting
    1: Darknet Yolo v3 on every frame
    2: TensorFlow FastRCNN on every frame
    3: BGS early filtering -> Darknet Tiny Yolo -> Darknet Yolo v3
    4: BGS early filtering -> Darknet Tiny Yolo -> Database (ArangoDB and blob storage on Azure)
    5: BGS early filtering -> TensorFlow Fast R-CNN
    6: BGS early filtering -> TensorFlow Fast R-CNN -> Azure Machine Learning (cloud)
    7: BGS early filtering -> ONNX Tiny Yolo v3 -> ONNX Yolo v3
    8: ONNX Yolo v3 on every frame
    -->
    <add key="PplConfig" value="1" />
    
    <!--Azure Storage Connection-->
    <add key="StorageConnectionString" value="" />
    
    <!--Azure DB Connection-->
    <add key="DBSERVER" value="" />
    <add key="DBCRED" value="" />
    <add key="DBNAME" value="" />

    <!--Azure Machine Learning Service Connection-->
    <add key="AMLHost" value="" />
    <add key="AMLSSL" value="" />
    <add key="AMLAuthKey" value="" />
    <add key="AMLServiceID" value="" />
  </appSettings>
</configuration>